# -*- sh -*-

# Pinned version of nixpkgs:
NIXPKGS_COMMIT=a2e06fc3423c4be53181b15c28dfbe0bcf67dd73
export NIX_PATH=nixpkgs=https://github.com/nixos/nixpkgs/archive/${NIXPKGS_COMMIT}.tar.gz

# Load in the shell.nix file:
use nix
